<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pethub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetHub">
        <activity
            android:name=".BuyerHome"
            android:exported="false" />
        <activity
            android:name=".activity_paymentsuccess"
            android:exported="false" />
        <activity
            android:name=".activity_ordeplaced"
            android:exported="false" />
        <activity
            android:name=".activity_checkout"
            android:exported="false" />
        <activity
            android:name=".activity_cardpayment"
            android:exported="false" />
        <activity
            android:name=".AddDoctor"
            android:exported="false" />
        <activity
            android:name=".ClientRegistration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".UpdateVet"
            android:exported="false" />
        <activity
            android:name=".VetProfile"
            android:exported="false" />
        <activity
            android:name=".DoctorsAvailableToday"
            android:exported="false" />
        <activity
            android:name=".UpdateService"
            android:exported="false" />
        <activity
            android:name=".ViewServices"
            android:exported="false" />
        <activity
            android:name=".AddService"
            android:exported="false" />
        <activity
            android:name=".UpdateDoctor"
            android:exported="false" />
        <activity
            android:name=".ViewDoctors"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".Active_Listing"
            android:exported="false" />
        <activity
            android:name=".Add_Product"
            android:exported="false" />
        <activity
            android:name=".Registration1"
            android:exported="false" />
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".ViewProducts"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>